# Clerk Setup
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=

# Feature Slugs for Clerk Subscription Plans
# Pro Plan Features (100 limit)
NEXT_PUBLIC_CLERK_PRO_CUSTOMERS_SLUG="create_up_to_100_customers"
NEXT_PUBLIC_CLERK_PRO_PRODUCTS_SLUG="create_up_to_100_products"
NEXT_PUBLIC_CLERK_PRO_INVOICES_SLUG="create_up_to_100_invoices_a_month"
NEXT_PUBLIC_PRO_LIMIT="100"

# Basic Plan Features
NEXT_PUBLIC_CLERK_BASIC_CUSTOMERS_SLUG="create_up_to_8_customers"
NEXT_PUBLIC_CLERK_BASIC_PRODUCTS_SLUG="create_up_to_10_products"
NEXT_PUBLIC_CLERK_BASIC_INVOICES_SLUG="create_up_to_10_invoices_a_month"
NEXT_PUBLIC_BASIC_CUSTOMER_LIMIT="8"
NEXT_PUBLIC_BASIC_PRODUCT_LIMIT="10"
NEXT_PUBLIC_BASIC_INVOICE_LIMIT="10"

# Free Plan Features (Default fallback if no features present)
NEXT_PUBLIC_CLERK_FREE_CUSTOMERS_SLUG="create_up_to_4_customers"
NEXT_PUBLIC_CLERK_FREE_PRODUCTS_SLUG="create_up_to_5_products"
NEXT_PUBLIC_CLERK_FREE_INVOICES_SLUG="create_up_to_5_invoices_a_month"
NEXT_PUBLIC_FREE_CUSTOMER_LIMIT="4"
NEXT_PUBLIC_FREE_PRODUCT_LIMIT="5"
NEXT_PUBLIC_FREE_INVOICE_LIMIT="5"

# Database Connection
DATABASE_URL=
DATABASE_URL_UNPOOLED=
PGDATABASE=
PGHOST=
PGPASSWORD=
PGUSER=
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PRISMA_URL=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_URL_NO_SSL=
POSTGRES_USER=

# Email via AWS SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
SES_FROM_EMAIL=
